.user-msg {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;

    width: 300px;
    padding: 8px;
    border-radius: 5px;
    background-color: lightsteelblue;
}
.success {
    background-color: darkseagreen;
}
.error {
    background-color: tomato;
}